@model FrontEnd.Models.ProductoViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.idProducto}) |
    @Html.ActionLink("Volver", "Inicio")
</p>
