@model TP.Models.Adopcion

@{
    ViewData["Title"] = "Detalles - Adopción";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAdopcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAdopcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSeguimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSeguimiento)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdoptanteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAdoptanteNavigation.Cedula),
            @Html.DisplayFor(model => model.IdAdoptanteNavigation.Nombre)
            @Html.DisplayFor(model => model.IdAdoptanteNavigation.Apellido1)
        </dd>
        <dt class="col-sm-2">
            
            @Html.DisplayNameFor(model => model.IdAnimalNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAnimalNavigation.Sexo)
            @Html.DisplayFor(model => model.IdAnimalNavigation.Tamano)
            @Html.DisplayFor(model => model.IdAnimalNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.IdAdopcion">Editar</a> |*@
    <a asp-action="Index">Volver</a>
</div>
