@model IEnumerable<TP.Models.Adopcion>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @{
        ViewData["Title"] = "Inicio - Adopciones";
    }

    <h1>Adopciones</h1>

    <p>
        <a asp-action="CreateAdoptante">Agregar Adoptante</a>
        <br />
        <a asp-action="Create">Registrar Adopción</a>
    </p>
    <input class="form-control" id="miBusqueda" type="text" placeholder="Buscar Adopción...">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdAnimal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAdoptante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAdopcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSeguimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="miTabla">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAnimal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAdoptante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAdopcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSeguimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habilitado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdAdopcion">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdAdopcion">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdAdopcion">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $("#miBusqueda").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#miTabla tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>



