@model IEnumerable<TP.Models.Adopcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CreateAdoptante" class="float-right">Registrar Adoptante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAdopcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSeguimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAdoptanteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAdopcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSeguimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdoptanteNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimalNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAdopcion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAdopcion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAdopcion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
