@model TP.Models.Producto

@{
    ViewData["Title"] = "Eliminar - Producto";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este producto?</h3>
<div class="row">
    <div class="col-md-4"></div>
    &nbsp;
    &nbsp;
    <div class="col-md-4">
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Nombre): </b>
            @Html.DisplayFor(model => model.Nombre)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Descripcion): </b>
            @Html.DisplayFor(model => model.Descripcion)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.FechaIngreso): </b>
            @Html.DisplayFor(model => model.FechaIngreso)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Cantidad): </b>
            @Html.DisplayFor(model => model.Cantidad)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.IdCategoriaNavigation): </b>
            @Html.DisplayFor(model => model.IdCategoriaNavigation.NombreCategoria)
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProducto" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver</a>
        </form>
    </div>
</div>

