@model FrontEnd.Models.AdopcionViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>AdopcionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAdoptante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAdoptante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAdopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAdopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSeguimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSeguimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAdopcion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
