@model IEnumerable<TP.Models.Donante>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @{
        ViewData["Title"] = "Inicio - Donante";
    }

    <h1>Donantes</h1>

    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
    <input class="form-control" id="miBusqueda" type="text" placeholder="Buscar Donante">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="miTabla">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habilitado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdDonante">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdDonante">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdDonante">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>

 @*Filtrar búsqueda*@
    <script>
        $(document).ready(function () {
            $("#miBusqueda").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#miTabla tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
