@model FrontEnd.Models.AdoptanteViewModel

@{
    ViewBag.Title = "Detalles Adoptante";
}

<h2>Detalles del Adoptante</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAdoptante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAdoptante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia.nombreProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCanton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton.nombreCanton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nombreDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalleDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalleDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idAdoptante }) |
    @Html.ActionLink("Volver", "Inicio")
</p>
