@model IEnumerable<TP.Models.Calendario>

<p>
    <a asp-action="Create">Crear nuevo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemaColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemaColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalendario">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdCalendario">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdCalendario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
