<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/ico" href="~/logo.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/home.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav>
        <a href="home.html"><label>Tails&Paws</label></a>
        <ul>
            <li class="logout"><a href="index.html">Cerrar Sesión</a></li>
        </ul>

        <label for="menu" class="menu-bar">
            <i class="fa fa-bars"></i>
        </label>

    </nav>

    <div class="side-menu">
        <center>
            <img src="~/Content/imagenes/Maria.jpg" />
            <br><br>

            <p>Maria del Mar Elizondo</p>
            <p>Administrador</p>
        </center>

        <ul>
            <li><a>@Html.ActionLink("Dashboard", "Index", "Home")</a><i class="fas fa-columns"></i><span></span></li>
            <li><a>@Html.ActionLink("Eventos", "Index", "Evento")</a><i class="fas fa-calendar-times"></i><span></span></li>
            <li><a>@Html.ActionLink("Animales", "Inicio", "Animal")</a><i class="fas fa-paw"></i><span></span></li>
            <li><a>@Html.ActionLink("Adoptantes", "Inicio", "Adoptante")</a><i class="fas fa-child"></i><span></span></li>
            <li><a>@Html.ActionLink("Adopciones", "Inicio", "Adopcion")</a><i class="fas fa-dog"></i><span></span></li>
            <li><a>@Html.ActionLink("Donantes", "Inicio", "Donante")</a><i class="fas fa-hand-holding-medical"></i><span></span></li>
            <li><a>@Html.ActionLink("Organizaciones", "Inicio", "Organizacion")</a><i class="fas fa-store"></i><span></span></li>
            <li><a>@Html.ActionLink("Productos", "Inicio", "Producto")</a><i class="fas fa-bone"></i><span></span></li>
            <li><a>@Html.ActionLink("Proveedores", "Inicio", "Proveedor")</a><i class="fas fa-user-tie"></i><span></span></li>
            <li><a>@Html.ActionLink("Configurar Perfil", "Index", "Usuario")</a><i class="fas fa-user"></i><span> </span></li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tails&Paws</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
