@model IEnumerable<FrontEnd.Models.AdopcionViewModel>

@{
    ViewBag.Title = "Inicio Adopción";
}

<h2>Adopciones</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAdoptante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAdopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.animal.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adoptante.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAdopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilitado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.idAdopcion}) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.idAdopcion})
        </td>
    </tr>
}

</table>
