@model IEnumerable<FrontEnd.Models.ProveedorViewModel>

@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilitado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProveedor })
        </td>
    </tr>
}

</table>
