@model FrontEnd.Models.OrganizacionViewModel

@{
    ViewBag.Title = "Detalles Organización";
}

<h2>Detalles de la Organización</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idOrganizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOrganizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia.nombreProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCanton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton.nombreCanton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nombreDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalleDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalleDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idOrganizacion }) |
    @Html.ActionLink("Volver", "Inicio")
</p>
