@model IEnumerable<FrontEnd.Models.OrganizacionViewModel>

@{
    ViewBag.Title = "Inicio Organización";
}

<h2>Organizaciones</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idOrganizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idOrganizacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.habilitado)
    </td>

    <td>
        @Html.ActionLink("Editar", "Editar", new {  id=item.idOrganizacion  }) |
        @Html.ActionLink("Detalles", "Detalles", new { id=item.idOrganizacion })
    </td>
</tr>
}

</table>
