@model TP.Models.Adoptante

@{
    ViewData["Title"] = "Detalles - Adopción";
}

<h1>Detalles</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProvinciaNavigation.NombreProvincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleDireccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleDireccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCantonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCantonNavigation.NombreCanton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDistritoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDistritoNavigation.NombreDistrito)
        </dd>*@

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAdoptante">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
