@model TP.Models.Organizacion

@{
    ViewData["Title"] = "Eliminar - Organización";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar esta entidad?</h3>
@if (ViewBag.Error != null)
{
    <span class="text-danger field-validation-error">@ViewBag.Error</span>
    <hr />
}
<div class="row">
    <div class="col-md-4"></div>
    &nbsp;
    &nbsp;
    <div class="col-md-4">
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Tipo): </b>
            @Html.DisplayFor(model => model.Tipo)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Nombre): </b>
            @Html.DisplayFor(model => model.Nombre)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Apellido1): </b>
            @Html.DisplayFor(model => model.Apellido1)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Apellido2): </b>
            @Html.DisplayFor(model => model.Apellido2)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Telefono): </b>
            @Html.DisplayFor(model => model.Telefono)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Email): </b>
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Descripcion): </b>
            @Html.DisplayFor(model => model.Descripcion)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.IdProvinciaNavigation): </b>
            @Html.DisplayFor(model => model.IdProvinciaNavigation.NombreProvincia)
        </div>
        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.DetalleDireccion): </b>
            @Html.DisplayFor(model => model.DetalleDireccion)
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdOrganizacion" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver</a>
        </form>
    </div>
</div>

