@model IEnumerable<TP.Models.Organizacion>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @{
        ViewData["Title"] = "Inicio - Entidad";
    }

    <h1>Entidades</h1>

    <p>
        <a asp-action="Create">Crear Nueva</a>
    </p>
    <input class="form-control" id="miBusqueda" type="text" placeholder="Buscar Entidad">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.DetalleDireccion)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.IdCantonNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDistritoNavigation)
                </th>*@
                
                <th></th>
            </tr>
        </thead>
        <tbody id="miTabla">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.NombreProvincia)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DetalleDireccion)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Habilitado)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IdCantonNavigation.NombreCanton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDistritoNavigation.NombreDistrito)
                    </td>*@
                    
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdOrganizacion">Editar</a> |
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdOrganizacion">Detalles</a> |
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdOrganizacion">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $("#miBusqueda").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#miTabla tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>